

### Scala ###
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IntelliJ
*.iml
*.ipr
*.iws
.idea
out

# Eclipse-IDE specific
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

# OS X
.DS_Store

# Chess square images
ChessSquares
foundpieces.csv
FastClassiferData.csv
Debug Images/

FASTFeatures/.Rhistory
.Rproj.user
RScripts
